label {
	font-size: 12px;
}
h4 {
	font-size: 15px;
}
.day {
	display: inline-block;
	width: 75px;
	text-align: right;
	padding-right: 5px;
}
.invalid {
	border : 1px solid #d9534f;
}
.padding {
	padding : 15px;
}
.wrapper {
	height: calc(100%);
}
.blank-input {
	min-width: 80px;
	height: 20px;
}
.padding {
	padding: 15px;
}
.table {
	font-size: 12px;
}
.table .input-sm {
	height: 20px;
}
.vertical-bottom {
	vertical-align: bottom;
}

.lb-checkbox-group {
	margin-top: 15px;
}
.lb-checkbox {
	width: calc(20% - 15px);
	margin-right: 15px;
	float: left;
	height: 35px;
}
.lb-checkbox input[type="checkbox"] {
	vertical-align: middle;
	margin: 0px;
}
.control-label {
	overflow: ellipsis;
}
.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
.table .btn-sm {
	margin-right: 0px !important;
	font-size: 9px;
}
.ng-confirm .ng-confirm-box .ng-confirm-buttons button {
	border-radius: 0px !important;
}
.tooltip {
	z-index: 100000 !important;
}

.header {
	position: relative;
	background : url('../img/header-bg.jpg') repeat-x;
	height: 40px;
	padding: 5px 10px;
}
h3.page-title {
	font-size: 15px;
    color: #F5F5F5;
    margin: 6px 0px;
    vertical-align: middle;
}
#dimension-logo {
	position: absolute;
	top: 7px;
	left: 15px;
}
body {
	background: #dee4e8;
	height:100%; position:relative;
}
.spinner {
	font-size: 8em;
}
.divider {
	height: 15px;
}
.nav {
	font-size: 12px;
}
.input-group {
	position: unset;
}
.btn {
	border-radius: 0px;
}
.btn-primary {
	background: #00a4e0;
	border-color : #00a4e0;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
	margin-right: 0px;
}
.form-group {
	margin-bottom : 10px;
}
.form-group-5 {
	margin-bottom: 5px;
}
.save-btn {
	margin : 10px 0px 0px;
}

.nav-button i{
	color : #fff;
}
.full-height {
	height: 100%;
}
.content {
	max-width: 1200px;
	margin : 0px auto;
	min-height: calc(100% - 40px);
	height: auto;
	background: #fff;
    border-color: #ddd;
}
.header-content {
	max-width: 1200px;
	margin : 0px auto;
}
.panel {
	border-radius: 0px;
}
.panel-heading {
	padding: 5px 15px;
}
.panel-body {
	padding : 10px 15px;
}
.panel-content {
	margin-bottom: 0px;
    -webkit-box-shadow: none;
    border-bottom: 0px;
    box-shadow: none;
    border: 1px solid transparent;
}
.no-background {
	background: transparent;
}
.centered {
	margin : 0 auto;
}
.table-small {
	width: 80%;
}
.bordered {
	border : 1px solid #cccccc;
}
.no-border-top {
	border-top: 0px;
}
.no-border-bottom {
	border-bottom:0px;
}
.no-border-left {
	border-left:0px;
}
.no-border-right {
	border-right:0px;
}
.no-margin-top {
	margin-top: 0px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-top-5 {
	margin-top : 5px;
}
.margin-bottom-10 {
	margin-bottom : 10px;
}
.tab-pane-content {
	padding : 30px 10px 10px;
	position: relative;
}
.rhs {
	top : 8px;
	right: 10px;
	position: absolute;
	z-index: 100;
}
.pointer {
	cursor: pointer;
}
.width80 {
	width: 80px;
}
.width65 {
	width: 65px;
}
.width60 {
	width: 60px;
}
.width50 {
	width: 50px;
}
.width100 {
	width: 100px;
}
.width120 {
	width: 120px;
}
.width140 {
	width: 180px;
}
.min-width-100 {
	min-width: 100px;
}
.min-width-200 {
	min-width: 200px;
}

.padding-left-10 {
	padding-left: 10px;
}

.test {
	min-width: calc(100px -20px) !important;
}

.custom-table td {
	vertical-align: middle !important;
}

.no-margin-top {
	margin-top : 0px;
}
.no-margin-bottom {
	margin-bottom : 0px;
}
.no-margin-left {
	margin-left : 0px;
}
.no-margin-right {
	margin-right : 0px;
}
.margin-right-50 {
	margin-right: 50px;
}

.table-scroll {
	max-height: 500px;
	overflow-y: auto;
}
.custom-dialog .modal-content {
	border-radius: 0px !important;
}
.yellow {
	background : #FEF6AB;
}
.icon-lg {
	font-size: 18px !important;
}
.no-padding-left {
	padding-left : 0px;
}
.no-padding-right {
	padding-right : 0px;
}
.form-control {
	border-radius: 0px !important;
}
.scrollArea {
	background: #f5f5f5;
}
.bg-white {
	background: #fff;
}
.small-font {
	font-size : 11px;
}
.table-cont {
	position: relative;
}

.table input, .table select {
	border: 0px;
	box-shadow: unset;
}
.kpi-metrics-table tr td{
	vertical-align: middle !important;
}
.clear {
	clear : both;
}
.table-cont-inner {

}

.btn-y-space {
	margin: 10px 0px;
}
.modal {
  overflow-y:auto;
}
.ng-confirm.ng-confirm-light .ng-confirm-box .ng-confirm-buttons button, .ng-confirm.ng-confirm-white .ng-confirm-box .ng-confirm-buttons button {
	text-transform: unset !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding : 2px 5px;
	vertical-align: middle;
}
.input-sm {
	padding : 0px 5px;
}
.icon-group {
	text-align: center;
}
.icon-group i {
	margin : 0px 3px;
}
#table-metric .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background: transparent !important;
}

#table-metric .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control:hover {
	cursor: pointer;
}
#table-metric .form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus {
	border-color: transparent !important;
	box-shadow: none !important;
}
#sort-btn-group {
	display: none;
}

/*.table-editable input, .table-editable select {
	max-width: 200px;
}*/
@media only screen and (max-width: 1400px) {
	h3.page-title {
	    text-align: center;
	}
}
@media only screen and (max-width: 768px) {
	#sort-ascending-vertical {
		position: absolute;
		top: 48px;
		right: 0px;
		display: none;
	}
	#sort-descending-vertical {
		position: absolute;
		bottom: 0px;
		right: 0px;
		display: none;
	}
	#sort-ascending-horizontal {
		display: block;
	}
	#sort-btn-group {
		display: block;
	}
	#sort-descending-horizontal {
		display: block;
	}
	.btn-column-add {
		margin-right: 0px;
	}
}
.scrollArea table th .box {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ng-confirm .ng-confirm-box {
	border-radius: 0px !important;
}
@media only screen and (min-width: 768px) {
	#sort-ascending-vertical {
		position: absolute;
		top: 40px;
		right: 0px;
		display: block;
	}
	#sort-descending-vertical {
		position: absolute;
		bottom: 0px;
		right: 0px;
		display: block;
	}
	#sort-ascending-horizontal {
		display: none;
	}
	#sort-descending-horizontal {
		display: none;
	}
	.table-cont-inner {
		width: calc(100% - 40px);
	}
	.btn-column-add {
		margin-right: 40px;
	}
}
/*.modal-header {
	border-top: 5px solid #2e6da4;
}*/
/*
.scrollArea table .th-inner {
	background : #337ab7;
	color : #fff;
}

.scrollableContainer th .orderWrapper .active {
	color : #fff !important;
}
*/

@media only screen and (max-width : 768px) {
	.table-small {
		width : 100%;
	}
}
@media only screen and (max-width: 600px) {
	#add-label {
		display: none;
	}
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@media print {
    html, body {
       display: none;  /* hide whole page */
    }
}