<!DOCTYPE HTML>
<html ng-app="reportingApp">
<head>
	<title>Admin Configuration</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | Advanced form elements</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
  	<!-- Ionicons -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/loading-bar.css">
	<link rel="stylesheet" type="text/css" href="css/scrollable-table.css">
	<link rel="stylesheet" type="text/css" href="css/angular-toastr.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-confirm.min.css">
	<link rel="stylesheet" type="text/css" href="css/colorpicker.min.css">

	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/moment.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular/1.5/angular.min.js"></script>
	<script type="text/javascript" src="js/angular/1.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/angular/1.5/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="js/angular/loading-bar/loading-bar.js"></script>
	<script type="text/javascript" src="js/angular/scrollable-table/angular-scrollable-table.js"></script>
	<script type="text/javascript" src="js/angular/toastr/angular-toastr.tpls.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-confirm/angular-confirm.min.js"></script>
	<script type="text/javascript" src="js/angular/ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	<script type="text/javascript" src="js/angular/reporting-service.js"></script>
	<script type="text/javascript" src="js/angular/reporting-controllers.js"></script>
	<script type="text/javascript" src="js/angular/reporting-directives.js"></script>
</head>
<body ng-controller="testCtrl">
	<div id="loading-bar-container"></div>
	<section class="wrapper" ng-cloak>
		<header class="header">
			<img src="img/logo.png" id="dimension-logo" height="25">
			<div class="header-content">
				<h3 class="page-title">Excel Reporting Engine Configuration</h3>
			</div>
		</header>
		<section class="content">
			<div class="panel panel-default panel-content full-height">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<h4>Reports</h4>
								</div>
								<div class="col-sm-6 text-right">
									<button class="btn btn-primary btn-sm" 
										ng-click="addReport()" 
										ng-disabled="has_pending_report"
										uib-tooltip="Add Report">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
							<scrollable-table watch="reports" id="report-table">
								<table class="table table-bordered bg-white table-hover">
									<thead>
										<th class="text-center width80">Enabled</th>
										<th>Report Name</th>
										<th>Trigger Types</th>
										<th>Delivery Types</th>
										<th class="width80 text-center">Actions</th>
									</thead>
									<tbody>
										<tr ng-repeat="r in reports" class="pointer" 
											ng-mouseover="reportHover($index)" 
											ng-mouseleave="reportHoverout()"
											ng-class="r.id == selected_report.id ? 'active' : ''">
											<td class="text-center width80" ng-click="$index != selected_report_idx ? selectReport(r, $index) : ''">
												<input type="checkbox" ng-model="r.attributes[2].value" 
													ng-disabled="true" 
													ng-true-value="'True'" 
													ng-false-value="'False'"
													auto-focus>
											</td>
											<td ng-click="$index != selected_report_idx ? selectReport(r, $index) : ''">
												{{ r.name }}
											</td>
											<td ng-click="$index != selected_report_idx ? selectReport(r, $index) : ''">
												{{ r.trigger_types }}
												<span ng-repeat="(k, v) in r.triggers">
													{{ trigger_types[v.templateName] }}{{ k == r.triggers.length - 1 ? '' : ',' }}
												</span>
											</td>
											<td ng-click="$index != selected_report_idx ? selectReport(r, $index) : ''">
												<span ng-repeat="(k, v) in r.delivery">
													{{ delivery_types[v.templateName] }}{{ k == r.delivery.length - 1 ? '' : ',' }}
												</span>
											</td>
											<td class="text-center width80">
												<i class="fa fa-close text-danger icon-lg" 
													ng-click="deleteReport($index)"
													ng-show="report_hover_idx == $index"
													uib-tooltip="Delete">
												</i>
											</td>
										</tr>
									</tbody>
								</table>
							</scrollable-table>
						</div>
					</div>
					<div class="divider">
					</div>
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#general">General</a></li>
						<li><a data-toggle="tab" href="#triggers">Triggers</a></li>
						<li><a data-toggle="tab" href="#delivery">Delivery</a></li>
					</ul>

					<div class="tab-content bordered  no-border-top">
						<div id="general" class="tab-pane fade in active padding">
							<form  name="generalForm">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-horizontal">
								    		<label class="col-sm-5 control-label">
												Enabled:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<input type="checkbox" class="vertical-bottom" 
														ng-model="selected_report.attributes[2].value" 
														ng-true-value="'True'" 
														ng-false-value="'False'">
												</div>
											</div>
								    	</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-horizontal">
								    		<label class="col-sm-5 control-label">
												Report Name:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<input class="form-control input-sm" ng-model="selected_report.name">
												</div>
											</div>
								    	</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-horizontal">
								    		<label class="col-sm-5 control-label">
												Spreadsheet Location:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<input class="form-control input-sm" ng-model="selected_report.attributes[5].value">
												</div>
											</div>
								    	</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-horizontal">
								    		<label class="col-sm-5 control-label">
												Sheets to Export:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<input class="form-control input-sm" ng-model="selected_report.attributes[4].value">
												</div>
											</div>
								    	</div>
									</div>
									<div class="col-sm-6">
										<div class="form-horizontal">
								    		<label class="col-sm-5 control-label">
												Active Sheet After Export:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<input class="form-control input-sm" ng-model="selected_report.attributes[0].value">
												</div>
											</div>
								    	</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-horizontal">
											<label class="col-sm-5 control-label">
												Export Type:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<select class="form-control input-sm"
														ng-model="selected_report.attributes[6].value"
														ng-options="e.value as e.name for e in enum_list['ContentTypes']">
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-horizontal">
								    		<label class="col-sm-5 control-label">
												Sheet Type:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<select class="form-control input-sm" ng-model="selected_report.attributes[3].value" 
														ng-options="s.value as s.name for s in enum_list['SheetTypes']">
														<option disabled value="">No Selection</option>
													</select>
												</div>
											</div>
								    	</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-horizontal">
											<label class="col-sm-5 control-label">
												Destination File Name:
											</label>
											<div class="col-sm-7">
												<div class="form-group">
													<input class="form-control input-sm" ng-model="selected_report.attributes[1].value">
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
					  	</div>
					  	<div id="triggers" class="tab-pane fade padding">
					    	<div class="form-group text-right">
					    		<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm btn-primary dropdown-toggle" 
										data-toggle="dropdown" 
										aria-haspopup="true" 
										aria-expanded="false"
										uib-tooltip="Add Trigger">
									    <i class="fa fa-plus"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-right">
									    <li ng-repeat="(k, t) in trigger_types"><a href="#" ng-click="addTrigger(k, t)">{{ t }}</a></li>
									</ul>
								</div>
					    	</div>
					    	<form name="triggerForm" form-on-change="triggerFormChanged(trigger)">
					    		<scrollable-table watch="selected_report.triggers" id="trigger-table">
						    		<table class="table table-bordered bg-white table-hover" id="trigger-table-inner">
						    			<thead>
						    				<th class="text-center width80">Enabled</th>
						    				<th style="width: 350px;">Trigger Name</th>
						    				<th>Trigger Type</th>
						    				<th class="text-center width80">Actions</th>
						    			</thead>
						    			<tbody>
						    				<tr ng-show="(selected_report.triggers | filter:{isDeleted : 0}).length == 0">
						    					<td colspan="4">No Records Found.</td>
						    				</tr>
						    				<tr ng-repeat="t in selected_report.triggers" 
						    					ng-if="t.isDeleted == 0"
						    					ng-mouseover="triggerHover($index)" 
					    						ng-mouseleave="triggerHoverout()"
					    						ng-class="trigger_idx == $index ? 'active' : ''"
					    						class="pointer">
						    					<td class="text-center width80" 
						    						ng-click="selectTrigger($index)" >
						    						<input type="checkbox"
						    							ng-if="t.templateName == 'Day Time Trigger'" 
						    							ng-disabled="true" 
						    							ng-model="t.attributes[1].value"
						    							ng-true-value="'True'" 
						    							ng-false-value="'False'" 
						    							class="vertical-bottom">
						    						<input type="checkbox"
						    							ng-if="t.templateName == 'Event Frame Based Trigger'" 
						    							ng-disabled="true" 
						    							ng-model="t.attributes[2].value"
						    							ng-true-value="'True'" 
						    							ng-false-value="'False'" 
						    							class="vertical-bottom">
						    						<input type="checkbox"
						    							ng-if="t.templateName == 'Period Offset Trigger'" 
						    							ng-disabled="true" 
						    							ng-model="t.attributes[0].value"
						    							ng-true-value="'True'" 
						    							ng-false-value="'False'" 
						    							class="vertical-bottom">
						    						<input type="checkbox"
						    							ng-if="t.templateName == 'Condition Based Trigger'" 
						    							ng-disabled="true" 
						    							ng-model="t.attributes[0].value"
						    							ng-true-value="'True'" 
						    							ng-false-value="'False'" 
						    							class="vertical-bottom">
						    					</td>
						    					<td ng-click="selectTrigger($index)" style="max-width: 350px;">
						    						{{ t.name }}
						    					</td>
						    					<td ng-click="selectTrigger($index)">
						    						<select class="form-control input-sm no-background" 
						    							ng-options="k as v for (k, v) in trigger_types" 
						    							ng-model="t.templateName">
						    						</select>
						    					</td>
						    					<td class="text-center width80">
						    						<i class="fa fa-close icon-lg text-danger" 
						    							ng-show="trigger_hover_idx == $index" 
						    							ng-click="deleteTrigger(t, $index)" 
						    							uib-tooltip="Delete"></i>
						    					</td>
						    				</tr>
						    			</tbody>
						    		</table>
						    	</scrollable-table>
						    	<div class="divider"></div>
						    	<div ng-if="trigger">
						    		<div class="row">
							    		<div class="col-sm-6">
							    			<div class="form-horizontal">
									    		<label class="col-sm-5 control-label">Enabled:</label>
									    		<div class="col-sm-7">
									    			<div class="form-group">
									    				<input type="checkbox"
							    							ng-if="trigger.templateName == 'Day Time Trigger'" 
							    							ng-model="trigger.attributes[1].value"
							    							ng-true-value="'True'" 
							    							ng-false-value="'False'" 
							    							class="vertical-bottom">
							    						<input type="checkbox"
							    							ng-if="trigger.templateName == 'Event Frame Based Trigger'" 
							    							ng-model="trigger.attributes[2].value"
							    							ng-true-value="'True'" 
							    							ng-false-value="'False'" 
							    							class="vertical-bottom">
							    						<input type="checkbox"
							    							ng-if="trigger.templateName == 'Period Offset Trigger'" 
							    							ng-model="trigger.attributes[0].value"
							    							ng-true-value="'True'" 
							    							ng-false-value="'False'" 
							    							class="vertical-bottom">
							    						<input type="checkbox"
							    							ng-if="trigger.templateName == 'Condition Based Trigger'" 
							    							ng-model="trigger.attributes[0].value"
							    							ng-true-value="'True'" 
							    							ng-false-value="'False'" 
							    							class="vertical-bottom">
									    			</div>
									    		</div>
									    	</div>
							    		</div>
							    	</div>
							    	<div class="row">
							    		<div class="col-sm-6">
							    			<div class="form-horizontal">
									    		<label class="col-sm-5 control-label">Name:</label>
									    		<div class="col-sm-7">
									    			<div class="form-group">
									    				<input type="text" class="form-control input-sm" name="name" 
									    					ng-model="trigger.name" 
									    					ng-blur="checkTriggerName(trigger.name)">
									    			</div>
									    		</div>
									    	</div>
							    		</div>
							    	</div>
							    	<div id="time-period" ng-if="trigger_types[trigger.templateName] == 'Time - Period & Offset'">
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<div class="form-horizontal">
										    		<label class="col-sm-5 control-label">Period:</label>
										    		<div class="col-sm-4">
										    			<div class="form-group">
										    				<input type="text" class="form-control input-sm" name="period" ng-model="trigger.attributes[3].value">
										    			</div>
										    		</div>
										    		<div class="col-sm-3">
										    			<div class="form-group">
										    				<select class="form-control input-sm" name="period_uom" ng-model="trigger.attributes[3].subAttribute[0].value"
										    					ng-options="u.value as u.name for u in enum_list['TimeOUM']">
										    				</select>
										    			</div>
										    		</div>
										    	</div>
								    		</div>
								    		<div class="col-sm-6">
								    			<div class="form-horizontal">
										    		<label class="col-sm-5 control-label">Offset:</label>
										    		<div class="col-sm-4">
										    			<div class="form-group">
										    				<input type="text" class="form-control input-sm" name="offset" ng-model="trigger.attributes[2].value">
										    			</div>
										    		</div>
										    		<div class="col-sm-3">
										    			<div class="form-group">
										    				<select class="form-control input-sm" name="offset_uom" 
										    					ng-model="trigger.attributes[2].subAttribute[0].value"
										    					ng-options="u.value as u.name for u in enum_list['TimeOUM']">
										    				</select>
										    			</div>
										    		</div>
										    	</div>
								    		</div>
								    	</div>
							    	</div>
							    	<div id="time-selected" ng-if="trigger_types[trigger.templateName] == 'Time - Selected Days'">
								    	<div class="row">
								    		<div class="col-sm-6">
								    			<div class="form-horizontal">
										    		<label class="col-sm-5 control-label">Send Times:</label>
										    		<div class="col-sm-7">
										    			<div class="form-group">
										    				<input type="text" class="form-control input-sm" name="send_times" ng-model="trigger.attributes[3].value">
										    			</div>
										    		</div>
										    	</div>
								    		</div>
								    	</div>
								    	<div class="lb-checkbox-group text-center">
								    		<div class="row">
									    		<div class="col-sm-12">
									    			<div class="lb-checkbox">
										    			<label>
										    				<div class="day">Monday:</div> <input type="checkbox" name="monday" 
										    				ng-model="trigger.attributes[0].subAttribute[0].value"
										    				ng-true-value="'True'" ng-false-value="'False'">
										    			</label>
										    		</div>
										    		<div class="lb-checkbox">
											    		<label>
											    			<div class="day">Tuesday:</div> <input type="checkbox" name="tuesday" 
											    			ng-model="trigger.attributes[0].subAttribute[1].value" 
										    				ng-true-value="'True'" ng-false-value="'False'"></label>
											    	</div>
											    	<div class="lb-checkbox">
											    		<label>
											    			<div class="day">Wednesday:</div> <input type="checkbox" name="wednesday" 
											    			ng-model="trigger.attributes[0].subAttribute[2].value" 
										    				ng-true-value="'True'" ng-false-value="'False'"></label>
											    	</div>
											    	<div class="lb-checkbox">
											    		<label>
											    			<div class="day">Thursday:</div> <input type="checkbox" name="thursday" 
											    			ng-model="trigger.attributes[0].subAttribute[3].value" 
										    				ng-true-value="'True'" ng-false-value="'False'"></label>
											    	</div>
											    	<div class="lb-checkbox">
											    		<label>
											    			<div class="day">Friday:</div> <input type="checkbox" name="friday" 
											    			ng-model="trigger.attributes[0].subAttribute[4].value" 
										    				ng-true-value="'True'" ng-false-value="'False'"></label>
											    	</div>
									    		</div>
									    	</div>
									    	<div class="row">
									    		<div class="col-sm-12">
									    			<div class="lb-checkbox">
										    			<label>
										    				<div class="day">Saturday:</div> <input type="checkbox" name="saturday" 
										    				ng-model="trigger.attributes[0].subAttribute[5].value" 
										    				ng-true-value="'True'" ng-false-value="'False'"></label>
										    		</div>
										    		<div class="lb-checkbox">
											    		<label>
											    			<div class="day">Sunday:</div> <input type="checkbox" name="sunday" 
											    			ng-model="trigger.attributes[0].subAttribute[6].value" 
										    				ng-true-value="'True'" ng-false-value="'False'"></label>
											    	</div>
									    		</div>
									    	</div>
								    	</div>
							    	</div>
							    	<div id="event-frame" ng-show="trigger_types[trigger.templateName] == 'Event Frame'">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<div class="form-horizontal">
								    				<label class="col-sm-5 control-label">AF Database:</label>
								    				<div class="col-sm-7">
								    					<div class="form-group">
								    						<select class="form-control input-sm" 
								    							ng-model="trigger.attributes[0].value"
								    							ng-options="e.value as e.name for e in enum_list['AFDatabases']">
								    						</select>
								    					</div>
								    				</div>
							    				</div>
							    			</div>
							    			<div class="col-sm-6">
							    				<div class="form-horizontal">
								    				<label class="col-sm-5 control-label">Event Frame Template:</label>
								    				<div class="col-sm-7">
								    					<div class="form-group">
								    						<input class="form-control input-sm" ng-model="trigger.attributes[1].value" name="event_frame_template">
								    					</div>
								    				</div>
							    				</div>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<div class="form-horizontal">
								    				<label class="col-sm-5 control-label">Trigger On:</label>
								    				<div class="col-sm-7">
								    					<div class="form-group">
								    						<select class="form-control input-sm" 
								    							ng-model="trigger.attributes[3].value"
								    							ng-options="t.value as t.name for t in enum_list['TriggerOn']">

								    						</select>
								    					</div>
								    				</div>
							    				</div>
							    			</div>
							    		</div>
							    	</div>
							    	<div id="condition" ng-show="trigger_types[trigger.templateName] == 'Condition'">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<div class="form-horizontal">
								    				<label class="col-sm-5 control-label">
								    					PI Tag: 
								    				</label>
								    				<div class="col-sm-7">
								    					<div class="form-group">
								    						<input type="text" class="form-control input-sm" ng-model="trigger.attributes[2].value">
								    					</div>
								    				</div>
							    				</div>
							    			</div>
							    			<div class="col-sm-3">
							    				<div class="form-horizontal">
								    				<label class="col-sm-6 control-label">
								    					Operator: 
								    				</label>
								    				<div class="col-sm-6">
								    					<div class="form-group">
								    						<select class="form-control input-sm" 
								    							ng-options="e.value as e.name for e in enum_list['Operators']"
								    							ng-model="trigger.attributes[1].value">
								    						</select>
								    					</div>
								    				</div>
							    				</div>
							    			</div>
							    			<div class="col-sm-3">
							    				<div class="form-horizontal">
							    					<label class="col-sm-5 control-label">
								    					Value: 
								    				</label>
								    				<div class="col-sm-7">
								    					<div class="form-group">
								    						<input type="text" class="form-control input-sm" ng-model="trigger.attributes[3].value">
								    					</div>
								    				</div>
							    				</div>
							    			</div>
							    		</div>
							    	</div>
						    	</div>
					    	</form>
					  	</div>
					  	<div id="delivery" class="tab-pane fade padding">
					  		<div class="form-group text-right">
					  			<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm btn-primary dropdown-toggle" 
										data-toggle="dropdown" 
										aria-haspopup="true" 
										aria-expanded="false" 
										uib-tooltip="Add Delivery">
									    <i class="fa fa-plus"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-right">
									    <li ng-repeat="(k, v) in delivery_types"><a href="#" ng-click="addDelivery(k, v)">{{ v }}</a></li>
									</ul>
								</div>
					  		</div>
					  		<form name="deliveryForm" form-on-change="deliveryFormChange(delivery)">
					  			<scrollable-table watch="selected_report.delivery" id="delivery-table">
						    		<table class="table table-bordered bg-white table-hover">
						    			<thead>
						    				<th class="text-center width80">Enabled</th>
						    				<th>Name</th>
						    				<th style="width: 350px;">Delivery Type</th>
						    				<th class="text-center width80">Actions</th>
						    			</thead>
						    			<tbody>
						    				<tr ng-show="(selected_report.delivery | filter:{isDeleted:0}).length == 0">
						    					<td colspan="4">No Records Found.</td>
						    				</tr>
						    				<tr ng-repeat="d in selected_report.delivery" ng-if="d.isDeleted == 0" 
						    					class="pointer" 
						    					ng-mouseover="deliveryHover($index)" 
						    					ng-mouseleave="deliveryHoverout()"
						    					ng-class="delivery_idx == $index ? 'active' : ''">
						    					<td class="text-center width80" ng-click="selectDelivery(d, $index)">
						    						<input type="checkbox" 
						    							ng-disabled="true" 
						    							ng-checked="getStatus(d)">
						    					</td>
						    					<td ng-click="selectDelivery(d, $index)">{{ d.name }}</td>
						    					<td ng-click="selectDelivery(d, $index)">
						    						<select class="form-control input-sm no-background" 
						    							ng-options="k as v for (k, v) in delivery_types"
						    							ng-model="d.templateName">
						    						</select>
						    					</td>
						    					<td class="text-center">
						    						<i class="fa fa-close icon-lg text-danger" 
						    							ng-show="delivery_hover_idx == $index" 
						    							ng-click="deleteDelivery(d, $index)"
						    							uib-tooltip="Delete">
						    						</i>
						    					</td>
						    				</tr>
						    			</tbody>
						    		</table>
						    	</scrollable-table>
						    	<div class="divider"></div>
						    	<div ng-if="delivery">
						    		<div class="row">
							    		<div class="col-sm-12">
							    			<div class="form-horizontal">
								    			<label class="col-sm-2  control-label">Enabled: </label>
								    			<div class="col-sm-10">
								    				<div class="form-group">
								    					<input type="checkbox" class="vertical-bottom" 
								    						ng-model="delivery.attributes[0].value" 
								    						ng-if="delivery.templateName == 'Sharepoint Delivery Channel'"
								    						ng-true-value="'True'"
								    						ng-false-value="'False'">

								    					<input type="checkbox" class="vertical-bottom" 
								    						ng-model="delivery.attributes[1].value" 
								    						ng-if="delivery.templateName != 'Sharepoint Delivery Channel'"
								    						ng-true-value="'True'"
								    						ng-false-value="'False'">
								    				</div>
								    			</div>
								    		</div>
								    		<div class="form-horizontal">
							    				<label class="col-sm-2 control-label">Name: </label>
								    			<div class="col-sm-10">
								    				<div class="form-group">
								    					<input type="text" class="form-control input-sm" 
								    						ng-blur="checkDeliveryName(delivery.name)"
								    						name="name" 
								    						uib-tooltip="{{ !isDeliveryNameValid && deliveryForm.name.$dirty ? 'Delivery Name already exists' : '' }}"
								    						ng-model="delivery.name">
								    				</div>
								    			</div>
								    		</div>
								    		<div ng-if="delivery_types[delivery.templateName] == 'Email'">
								    			<div class="form-horizontal">
								    				<label class="col-sm-2 control-label">Email Template: </label>
									    			<div class="col-sm-10">
									    				<div class="form-group">
									    					<select class="form-control input-sm"
									    						ng-options="idx as a.name for (idx, a) in element_list['Email']" 
									    						name="email_template" 
									    						ng-model="delivery.attributes[0].value">
									    					</select>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="form-horizontal">
								    				<label class="col-sm-2 control-label">Recipient: </label>
									    			<div class="col-sm-10">
									    				<div class="form-group">
									    					<input type="email" class="form-control input-sm" name="email_recipient" ng-model="delivery.attributes[3].value">
									    				</div>
									    			</div>
									    		</div>
									    		<div class="form-horizontal">
								    				<label class="col-sm-2 control-label">Email Subject: </label>
									    			<div class="col-sm-10">
									    				<div class="form-group">
									    					<input type="text" class="form-control input-sm" name="email_subject" ng-model="delivery.attributes[2].value">
									    				</div>
									    			</div>
									    		</div>
								    		</div>
								    		<div ng-if="delivery_types[delivery.templateName] == 'File Location'">
								    			<div class="form-horizontal">
								    				<label class="col-sm-2 control-label">File Location: </label>
									    			<div class="col-sm-10">
									    				<div class="form-group">
									    					<select class="form-control input-sm"
									    						ng-options="a.name as a.name for a in element_list['FileLocation']" 
									    						name="file_location" 
									    						ng-model="delivery.attributes[2].value">
									    					</select>
									    				</div>
									    			</div>
									    		</div>
									    		<div class="form-horizontal">
								    				<label class="col-sm-2 control-label" title="Custom Delivery Destination">Custom Delivery Dest...: </label>
									    			<div class="col-sm-10">
									    				<div class="form-group">
									    					<input type="text" class="form-control input-sm" name="email_subject" ng-model="delivery.attributes[0].value">
									    				</div>
									    			</div>
									    		</div>
								    		</div>
								    		<div ng-if="delivery_types[delivery.templateName] == 'SharePoint Document Library'">
								    			<div class="form-horizontal">
								    				<label class="col-sm-2 control-label" title="Sharepoint Document Libraries">Sharepoint Docume...: </label>
									    			<div class="col-sm-10">
									    				<div class="form-group">
									    					<select class="form-control input-sm"
									    						ng-options="a.name as a.name for a in element_list['Sharepoint']" 
									    						name="sharepoint_doc_lib" 
									    						ng-model="delivery.attributes[1].value">
									    					</select>
									    				</div>
									    			</div>
									    		</div>
								    		</div>
							    		</div>
							    	</div>
						    	</div>
					  		</form>
					  	</div>
					</div>
					<div class="save-btn text-center">
						<button class="btn btn-success" 
							ng-click="saveReport()" 
							ng-disabled="generalForm.$invalid || triggerForm.$invalid || deliveryForm.$invalid"
							uib-tooltip="Save Report">
							<i class="fa fa-check"></i> Save	
						</button>
					</div>
				</div>
			</div>
		</section>
	</section>


	<div id="loading" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center" >
                    <i class="fa fa-cog fa-spin spinner"></i>
                    <div class="form-group">
                		<h4>
                			<strong>
                				Please Wait...
                			</strong>
                		</h4>
                	</div>
                </div>
            </div>
        </div>
    </div>

	<script type="text/javascript">
	$(document).ready(function() {
		$( window ).resize(function() {
			var window_height = $(window).height();
			console.log(window_height);
			if(window_height <= 790) {
				var height = window_height * 0.30;
			}
			else if(window_height <= 890) {
				var height = window_height * 0.33;
			}
			else if(window_height <= 950) {
				var height = window_height * 0.34;
			}
			else {
				var height = window_height * 0.35;
			}
			
			$('.scrollableContainer').css({height : height});
		});
	})
		
	</script>
</body>
</html>
